:root{
    --bg-light: #f5f5f5;
    --bg: #eeeeee;
    --pink: #ddaed3;
    --light-blue: #6594b1;
    --dark-blue: #213c51;
    

}
    


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}



body {
    background-color:var(--bg-light);

}

.body-container{
    height: 100vh;
    width: 100vw;
    background-color:var(--bg);
    display: flex;
    flex-direction: row;
    div{
        width: 50%;
    }
    
}

.container{
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem 0 2rem;
    overflow-y: auto;
}
.login-header{
    margin: 30px 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-blue);
}  

.login-body form input{
    width: 100%;
    padding: 17px;
    margin-bottom: 15px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg);
}
.login-body form input::placeholder{
    color: var(--dark-blue);
}
.login-body form input:focus{
    outline: none;
    box-shadow: 0 0 5px var(--light-blue);
}
p{
    font-size: 15px;
    color: var(--dark-blue);
    text-align: center;
    a{
        color: var(--light-blue);
        text-decoration: none;
    }
}
.login-body form button{
    width: 100%;
    padding: 17px;
    margin: 30px 0 20px;
    font-size: 17px;
    font-weight:600;
    border: none;
    border-radius: 5px;
    background-color: var(--pink);
    color: white;
    cursor: pointer;
    &:hover{

        box-shadow: 0 0 10px var(--pink);
    }
}

hr{
    
    margin: 15px 0;
    border: none;
    
    border-top: 5px dotted var(--pink);
}

.illust-container{
    background-color: var(--pink);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 5rem;
    position: relative;
    img{
        width: 100%;
        height: 100%;
    }
    h1{
        margin-top: -10rem;
        font-size:2.5rem;
        display: inline-block;
        text-wrap: wrap;
        color: var(--dark-blue);
        text-shadow: 0px 0px 3px var(--light-blue);
        border-radius: 15px;
        padding: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
    }
}


.social-login{
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 100%;
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 15px;
        font-size: 15px;
        border: none;
        border-radius: 5px;
        background-color: var(--light-blue);
        width: 100%;
        color: white;
        font-weight: 600;
        cursor: pointer;
        i{
            font-size: 20px;
        }
        &:hover{
            background-color: var(--dark-blue);
            i{
                transform: scale(1.1,1.1);
            }
        }
    }
}

/* RESPONSIVE */
/* @media (max-width: 768px){
    .body-container{
        display: flex;
        gap:10px;
        flex-direction: column;
        min-width: 100vw;
        min-height: 100vh;
    }
    .container{
        width: 100%;
    }
    .illust-container{
        display: none;
        padding: 2rem;
        h1{
            display: none;
            margin-top: -5rem;
            font-size:1.5rem;
        }
    }
} */
