
:root{
    --bg-light: #f5f5f5;
    --bg: #eeeeee;
    --pink: #ddaed3;
    --light-blue: #6594b1;
    --dark-blue: #213c51;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
    transition: all 0.3s ease;
}

body{
    background: var(--bg);
    display:flex;
    height:100vh;
    overflow:hidden;
}

/* SIDEBAR */
.sidebar{
    width:250px;
    background: var(--dark-blue);
    color:white;
    padding:25px 20px;
    display:flex;
    flex-direction:column;
}

.logo{
    font-size:20px;
    font-weight:bold;
    margin-bottom:35px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:12px;
    margin-bottom:10px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}
.sidebar i{
    margin-right:10px;
}
.sidebar li:hover{
    background: var(--light-blue);
}

/* MAIN AREA */
.main{
    flex:1;
    display:flex;
    flex-direction:column;
}

/* TOP NAV */
.navbar{
    background:white;
    padding:15px 25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap: 15px;
    border-bottom:1px solid #ddd;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    padding: 0 15px;
    border-radius:20px;
    border:1px solid #ccc;
    width:100%;
    i{
        font-size: 19px;
        color: var(--dark-blue);
    }
}
.search input{
    width: 90%;
    padding: 8px 0 8px 13px;
    border: none;
    outline: none;
    height: 100%;
    display: inline-block;
}

.user{
    color: var(--dark-blue);
    font-weight:500;
    padding: 5px;
    border-radius: 7px;
    border: 2px solid var(--bg);
    &:hover{
        background-color: var(--light-blue);
        color: var(--bg-light);
        border: 2px solid var(--light-blue);
    }
}

/* CONTENT */
.content{
    flex:1;
    display:flex;
    gap:20px;
    padding:20px;
    overflow:hidden;
}

/* FEED */
.feed{
    flex:2;
    overflow-y:auto;
}

.create-post{
    background:white;
    padding:15px;
    border-radius:12px;
    margin-bottom:20px;
}

.create-post textarea{
    width:100%;
    border:none;
    resize:none;
    height:70px;
    margin-bottom:10px;
    outline:none;
}

.create-post button, #down-chat-button{
    background: var(--light-blue);
    color:white;
    border:none;
    padding:8px 18px;
    border-radius:20px;
    cursor:pointer;
    transition:0.3s;
}
#down-chat-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    font-size: 1rem;
    padding: 10px 15px;
    &:hover{
        background-color: var(--light-blue);
        box-shadow: 0 0 10px var(--light-blue);
        transform: translateY(-2px);
    }
}

.create-post button:hover{
    background: var(--dark-blue);
}

.post{
    background:white;
    padding:15px;
    border-radius:12px;
    margin-bottom:15px;
    transition:0.2s;
}

.post:hover{
    transform: translateY(-2px);
}

.post h4{
    color: var(--dark-blue);
    margin-bottom:6px;
}

.post small{
    color:gray;
}

/* RIGHT PANEL */
.right-panel{
    flex:1;
    overflow-y: auto;
}

.widget{
    background:white;
    padding:15px;
    border-radius:12px;
    margin-bottom:20px;
}

.widget h4{
    color: var(--dark-blue);
    margin-bottom:10px;
}

.badge{
    background: var(--pink);
    padding:8px 10px;
    border-radius:8px;
    margin-top:6px;
    font-size:13px;
    color: var(--dark-blue);
}


.profile-header{
    background: white;

    padding: 20px 25px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:1px solid #ddd;
    gap:15px;
}

.profile-left{
    display:flex;
    align-items:center;
    gap:15px;
}

.avatar{
    width:80px;
    height:80px;
    background: var(--light-blue);
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:22px;
    font-weight:bold;
    border-radius:50%;
}

.profile-info h3{
    color: var(--dark-blue);
    font-size:20px;
}

.profile-info p{
    font-size:13px;
    color:gray;
}

.level-badge{
    margin-top:4px;
    display:inline-block;
    background: var(--pink);
    color: white;
    font-weight: 600;
    padding:4px 10px;
    border: 1px solid var(--light-blue);
    border-radius:12px;
    font-size:12px;
}

.profile-stats{
    display:flex;
    flex-direction:column;
    /* gap:8px; */
    width: 50%;
    min-width:300px;
}

.xp-section span{
    width: 100%;
    font-size:12px;
    color: var(--dark-blue);
}

.xp-bar{
    width:100%;
    height:10px;
    background: var(--bg);
    border-radius:10px;
    overflow:hidden;
}

.xp-fill{
    width:64%; /* 320/500 */
    height:100%;
    background: var(--light-blue);
}

.streak{
    font-size:13px;
    color: var(--dark-blue);
}

.edit-btn{
    background: var(--light-blue);
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:20px;
    cursor:pointer;
    transition:0.3s;
}

.edit-btn:hover{
    background: var(--dark-blue);
}

/* Responsive */
@media(max-width: 950px){
    .sidebar{
        display:none;
    }
    .right-panel{
        display:none;
    }
    .content{
        padding:10px;
    }
    .profile-header{
        flex-direction:column;
        align-items:flex-start;
        gap:15px;
    }
    .profile-stats{
        width:100%;
    }
}